<!DOCTYPE html>
<html>
<head>
    <title>Локобанк</title>
</head>
<body>
    <h2>Транзакция</h2>
    <form action="/submit_transaction" method="post">
        <label>ID отправителя:</label><input type="number" name="sender_id" required><br>
        <label>Сумма:</label><input type="number" step="0.01" name="initial_amount" required><br>
        <label>Валюта:</label><input type="text" name="currency" required><br>
        <label>ID получателя:</label><input type="number" name="receiver_id" required><br>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
